*{
    padding: 0;
    margin: 0;
    list-style: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    color: #FBFAF7;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    background-color: #163A24;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.nav{
    display: flex;
    align-items: center;
}
.log{
    color: #FBFAF7;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-right: 20px;
}
.nav p{
    color: #FBFAF7;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-right: 20px;
}
.link{
    color: #FBFAF7;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    padding: 15px 25px;
    background-color: #198C36;
    border-radius: 30px;
}
/* -------------- Nav bar end -----------*/
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-box{
    margin-top: 110px;
}
.text-box h1{
    color: #FBFAF7;
    font-size: 45px;
    font-weight: 600;
    line-height: 50px;
}
.text-box p{
    color: #FBFAF7;
    font-size: 19px;
    line-height: 27px;
    font-weight: 400;
    padding-top: 20px;
}
/* ------------------------------------ header end ------------------------- */
.stwoo{
    padding-top: 100px;
}
.text_item{
    margin-right: 200px;
}
.text_item h1{
    color: #163A24;
    font-size: 48px;
    font-weight: 600;
    line-height: 54px;
}
.text_item p{
    color: #163A24;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    padding-top: 30px;
}
/* ------------------------- section two end -------------------- */
.text h1{
    color: #163A24;
    font-size: 48px;
    font-weight: 600;
    line-height: 54px;
}
.three{
    padding-top: 15px;
}
.text p{
    color: #163A24;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    padding-top: 30px;
}
.text{
    margin-left: 80px;
}
/* ---------------- section three end -------------- */
#rec{
    padding-top: 100px;
}
.title h1{
    color: #163A24;
    font-size: 48px;
    font-weight: 600;
    line-height: 50px;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 65px;
}
/* -------------------- section rec end -------------- */
.info{
    background-color: #163A24;
    text-align: center;
}
.title_i h1{
    font-size: 48px;
    line-height: 54px;
    font-weight: 600;
    padding-top: 40px;
    text-align: center;
}
.rown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.items{
    width: 230px;
    text-align: center;
    margin-right: 60px;
    margin-top: 65px;
}
.items p{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding-bottom: 10px;
}